@charset "UTF-8";
/** 色の変数 ------------ **/
/* テスト */
/*@forward "mixins";*/
.button {
  background-color: #2ab733;
}

.p-contact--button {
  display: block;
  margin-right: 322px;
  margin-left: 322px;
  width: 280px;
  height: 56px;
  background-color: #FEDA1C;
  border-radius: 10px;
  margin: auto;
}

.p-contact--button a {
  font-family: "Kaisei Tokumin", serif;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
}

/*使用例.button { background-color: var.$colorGR;}*/
.p-header {
  position: relative;
  z-index: 20;
  height: 136px;
  margin-right: 260px;
  margin-left: 260px;
  padding-top: 40px;
  padding-bottom: 40.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.p-header__title {
  width: 6.04%;
  height: 55.63px;
  margin-left: 40px;
}

.p-header__title--logo__png {
  width: auto;
  height: 55.63px;
}

.p-header__menu {
  width: 487.96px;
  margin-top: 5.5px;
  margin-left: 24.18%;
  box-sizing: border-box;
}

.p-header__menu__list {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.p-header__menu__item {
  padding: 11px 32px;
  border-right-width: 1px;
  border-left: 1px solid #707070;
}

.p-header__menu__item:last-child {
  border-right: 1px solid #000000;
}

.c-item__title {
  list-style: none;
  text-decoration: none;
  font-family: "Kaisei Tokumin", serif;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}

.burger-btn {
  display: none;
}

@media screen and (max-width: 768px) { /*タブレット*/
  .p-header__menu {
    display: none;
  }
  .p-header {
    position: relative;
    z-index: 20;
    height: 136px;
    margin-right: 60px;
    margin-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
  /* 以下、ハンバーガーボタン */
  .burger-btn {
    display: block;
    width: 39px;
    height: 39px;
    position: relative;
    z-index: 3;
    border: none;
  }
  .bar {
    width: 20px;
    height: 1px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0, 0, 0);
  }
  .bar_top {
    top: 10px;
  }
  .bar_mid {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .bar_bottom {
    bottom: 10px;
  }
}
@media screen and (max-width: 1280px) { /*タブレット*/
  .p-header__menu {
    display: none;
  }
  .p-header {
    position: relative;
    z-index: 20;
    margin-right: 8.53%;
    margin-left: 8.53%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
  /* 以下、ハンバーガーボタン */
  .burger-btn {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 3;
    margin-top: 8px;
    border: none;
  }
  .bar {
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
  }
  .bar_top {
    top: 0px;
  }
  .bar_mid {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .bar_bottom {
    bottom: 0px;
  }
  .p-header__title {
    margin-left: 0;
  }
}
@media screen and (max-width: 375px) { /*スマホ*/
  .p-header {
    position: relative;
    z-index: 20;
    margin-right: 8.53%;
    margin-left: 8.53%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
}
/*使用例.button { background-color: var.$colorGR;}*/
.video__wrapper {
  width: 100%;
}

.video { /*背景に固定する*/
  position: fixed;
  z-index: -20;
  top: -336px; /*%にしないとレスポンシブで高さがたりなくなる?*/
  width: 136%;
}

.video__filter {
  position: fixed;
  width: 100%;
  z-index: -10;
  top: -136px; /*%にしないとレスポンシブで高さがたりなくなる?*/
  width: 136%;
  height: 136%;
  opacity: 0.5; /*デザインは0.2*/
  background-color: black;
}

/*使用例.button { background-color: var.$colorGR;}*/
.p-hero {
  position: relative;
  z-index: 0;
  max-width: 100%;
  height: 0;
  padding-bottom: 51.45%;
}

.c-picture__wrapper { /*写真のラッパー*/
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.c-picture--top { /*白い枠--電球の写真*/
  position: absolute;
  z-index: 20;
  width: 63.88%;
  height: 0;
  padding-bottom: 42%;
  background-color: #ffffff;
}

.c-light__jpg { /*電球の写真本体*/
  position: relative;
  z-index: 40;
  width: 91.3%;
  margin: 38.5px 4.3%;
}

.c-copy--1 { /*わかりやすいデザインをめざしています*/
  position: absolute;
  z-index: 40;
  top: 18%;
  left: 50%; /*真ん中に配置*/
  transform: translate(-50%, -50%); /*真ん中に配置*/
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 56.52%;
  font-family: "Kaisei Tokumin", serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.5;
  color: #ffffff;
}

/*使用例.button { background-color: var.$colorGR;}*/
/*テスト*/ /*テスト*/ /*テスト*/
.p-about {
  max-width: 100%;
  margin-right: 260px;
  margin-left: 260px;
  padding-top: 80px;
  padding-bottom: 64px;
}

.c-title--about {
  margin-bottom: 80px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 40px;
  color: #000000;
  line-height: 1.5;
}

.c-cope--1 {
  margin-bottom: 64px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 24px;
  color: #000000;
  line-height: 1.75;
  opacity: 1;
}

.c-card__about__wrapper { /*カードを横並びに*/
  display: flex;
  justify-content: center;
  margin-right: 4.34%;
  margin-left: 4.34%;
  margin-bottom: 0;
}

.c-card__about:nth-of-type(2n) {
  margin-right: 0;
}

.c-card__about {
  width: 25.03vw;
  min-width: 25%;
  margin-right: 14.28%;
  background-color: #707070;
  text-align: center;
}

.c-card__about:nth-child(1) { /*カードを横並びに*/
  margin-bottom: 0px;
}

.c-keyboad__jpg {
  width: 100%;
  opacity: 1;
  border: solid red 1px;
}

.c-copy {
  width: 60%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: bold;
  font-size: 1.11px;
  color: #ffffff;
  line-height: 1.5;
  opacity: 1;
}

.c-information__wrapper {
  width: 100%;
  margin-top: 64px;
  opacity: 1;
}

.p-about__information {
  font-weight: normal;
  font-size: 16px;
  font-family: "Kaisei Tokumin", serif;
  color: #000000;
  line-height: 1.75;
  opacity: 1;
}

.p-about__pic--me {
  width: 15.76%;
  margin-right: 50%;
  margin-left: 50%;
  margin-top: 64px;
}

.c-card__about__wrapper { /*カードを横並びに*/
  display: flex;
  justify-content: center;
  margin-right: 4.34%;
  margin-left: 4.34%;
}

@media screen and (max-width: 1000px) { /*タブレット*/
  .c-card__about__wrapper { /*カードを横並びに*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 4.34%;
    margin-left: 4.34%;
  }
  .c-card__about {
    width: 50vw;
    min-width: 50%;
    margin-right: 0;
    background-color: #707070;
    text-align: center;
  }
  .c-card__about:nth-child(1) { /*カードを横並びに*/
    margin-bottom: 24px;
  }
}
/*使用例.button { background-color: var.$colorGR;}*/
.p-product {
  position: relative;
  z-index: 10;
  max-width: 100%;
  margin-right: 80px;
  margin-left: 80px;
  padding-top: 40px;
  padding-bottom: 80px;
  border: solid red 1px;
}

.c-title--product {
  margin-left: 182px;
  margin-bottom: 80px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 40px;
  color: #ffffff;
  line-height: 1.5;
}

.p-product__wrapper {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 24px;
}

.c-product {
  width: 31.25%;
  margin-right: 3.125%;
  margin-bottom: 24px;
}

.c-product__pic {
  width: 100%;
}

.c-product:nth-of-type(3n) {
  margin-right: 0;
}

@media screen and (max-width: 1000px) { /*タブレット*/
  .p-product__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 24px;
  }
  .c-product {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
  }
}
/*使用例.button { background-color: var.$colorGR;}*/
.p-skill {
  position: relative;
  z-index: 10;
  max-width: 100%;
  margin-right: 228px;
  margin-left: 228px;
  padding-top: 80px;
  padding-bottom: 104px;
}

.c-title--skill {
  margin-left: 3.25%;
  margin-bottom: 80px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 40px;
  color: #000000;
  line-height: 1.5;
}

.p-skill__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  width: 100%;
  box-sizing: border-box;
  border: solid red 1px;
}

.cardBox {
  position: relative;
  width: 31.7%;
  margin-right: 2.43%;
  margin-bottom: 24px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.cardBox img {
  display: block;
  max-width: 77px;
  margin: 0 auto 16px;
}

.cardBox:nth-of-type(3n) {
  margin-right: 0;
}

.cardTtl {
  text-align: center;
  font-size: 1.1vw;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 16px;
}

.cardText p {
  font-size: 1.1vw;
  line-height: 1.75;
  margin-bottom: 20px;
}

.cardText {
  margin-bottom: 50px;
}

.cardBox {
  position: relative;
  padding: 32px 32px 32px;
  border: 2px solid #333333;
  border-radius: 5px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .p-skill__wrapper {
    display: flex;
    flex-flow: column;
    margin: auto;
    width: 100%;
    border: solid red 1px;
  }
  .cardBox:nth-of-type(3n) {
    margin-right: auto;
  }
  .cardBox {
    width: 100%;
    margin-bottom: 50px;
    padding: 50px 20px 40px;
    box-sizing: border-box;
  }
  .cardBox:last-child {
    margin-bottom: 20px;
  }
}
/*使用例.button { background-color: var.$colorGR;}*/
.p-contact {
  position: relative;
  z-index: 10;
  margin-right: 260px;
  margin-left: 260px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.contact-table {
  width: 55.55vw;
  margin: auto;
  margin-bottom: 80px;
  background-color: #FFFFFF;
}

.c-title--contact {
  margin-bottom: 80px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 40px;
  color: #ffffff;
  line-height: 1.5;
  opacity: 1;
}

.c-dispriciton--contact {
  margin-bottom: 80px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.5;
  opacity: 1;
}

/*サイト参考*/
.contact-item {
  text-align: right;
  vertical-align: middle;
  width: 37%;
  background-color: #FEDA1C;
  font-family: "Kaisei Tokumin", serif;
  font-weight: normal;
}

.contact-item,
.contact-body {
  padding: 16px;
  border: 1px solid #1c1f22;
}

.contact-body {
  width: 63%;
}

.contact-body {
  width: 100%;
  padding: 20px;
  text-align: left;
  background-color: rgb(255, 255, 255);
}

input.form-text {
  width: 88.54%;
}

textarea.form-textarea {
  width: 88.54%;
  height: 240px;
}

.contact-item:nth-child(4) {
  border: solid red 1px;
}

/*使用例.button { background-color: var.$colorGR;}*/
.p-footer {
  position: relative;
  z-index: 20;
  height: 85px;
  padding-top: 24px;
  padding-bottom: 24px;
  box-sizing: border-box;
}

.p-footer__title {
  margin: auto;
  width: 6.04%;
}

.p-footer__title--logo__png {
  width: auto;
  height: 37px;
}

/*使用例.button { background-color: var.$colorGR;}*/
.p-details {
  max-width: 100%;
  min-width: 920px;
  margin-right: 18.05vw;
  margin-left: 18.05vw;
  margin-bottom: 112px;
  padding-top: 80px;
  padding-left: 5.55vw;
  padding-right: 5.55vw;
  padding-bottom: 104px;
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
}

.c-title--details {
  margin-bottom: 80px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 40px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
}

.c-sub-title--details {
  margin-bottom: 24px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 24px;
  color: rgb(255, 255, 255);
  line-height: 1.75;
  opacity: 1;
}

.c-picture--top--single { /*白い背景の台紙*/
  position: relative;
  z-index: 20;
  width: 63.88%;
  height: 0;
  padding-bottom: 42%;
  background-color: rgba(255, 255, 255, 0.8);
}

.c-picture--top--single::after {
  display: block;
  position: absolute;
  z-index: 30;
  top: 32px;
  right: 2.5vw;
  left: 2.5vw;
  bottom: 32px;
  content: "";
  width: 91.3%;
  min-width: 57.14%;
  height: 0;
  padding-bottom: 61.5%;
  margin: auto;
  background-color: rgb(191, 181, 184);
}

.c-product__jpg--1 { /*RaiseTech正方形バナー*/
  display: block;
  position: relative;
  z-index: 50;
  top: 6.8vh;
  bottom: 6.8vh;
  width: 57.14%;
  margin: auto;
}

.c-information__wrapper {
  width: 100%;
  margin-bottom: 56px;
  opacity: 1;
}

.p-details__information {
  font-weight: normal;
  font-size: 16px;
  font-family: "Kaisei Tokumin", serif;
  color: rgb(255, 255, 255);
  line-height: 1.75;
}

.c-dli-caret-right {
  display: inline-block;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  line-height: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0.375em 0.64952em;
  border-left-color: currentColor;
  border-right: 0;
}

.c-text-link {
  font-weight: normal;
  font-size: 16px;
  font-family: "Kaisei Tokumin", serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */