@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: middle;
}

.l-body {
  position: relative;
  min-width: 920px; /*カードのテキスト部分を潰さない*/
}

.l-header {
  position: relative;
  z-index: 20;
  background-color: #FEDA1C;
}

.l-about {
  position: relative;
  max-width: 100%;
  z-index: 10;
  background-color: rgba(254, 218, 28, 0.8);
  opacity: 0.8;
}

.l-product {
  position: relative;
  max-width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

.l-skill {
  position: relative;
  max-width: 100%;
  z-index: 10;
  background-color: rgba(254, 218, 28, 0.8);
  opacity: 0.8;
}

.l-contact {
  position: relative;
  max-width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

.l-footer {
  position: relative;
  z-index: 20;
  background-color: #FEDA1C;
}

.l-details {
  position: relative;
  max-width: 100%;
  z-index: 10;
}

h1 {
  color: blue;
}
h1 span {
  display: flex;
  align-items: center;
  position: relative;
}
h1 span::before, h1 span::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: green;
}
h1 span::before {
  transform: rotate(45deg);
}
h1 span::after {
  transform: rotate(-45deg);
}

h2 {
  color: rgb(255, 38, 0);
}
h2 span {
  display: flex;
  align-items: center;
  position: relative;
}
h2 span::before, h2 span::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: green;
}
h2 span::before {
  transform: rotate(45deg);
}
h2 span::after {
  transform: rotate(-45deg);
}

/** 色の変数 ------------ **/
/* テスト */
/*@forward "mixins";*/
.button {
  background-color: #2ab733;
}

.p-contact--button {
  display: block;
  margin-right: 322px;
  margin-left: 322px;
  width: 280px;
  height: 56px;
  background-color: #FEDA1C;
  border-radius: 10px;
  margin: auto;
}

.p-contact--button a {
  font-family: "Kaisei Tokumin", serif;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
}

/*使用例.button { background-color: var.$colorGR;}*/
.p-header {
  position: relative;
  z-index: 20;
  height: 136px;
  margin-right: 260px;
  margin-left: 260px;
  padding-top: 40px;
  padding-bottom: 40.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.p-header__title {
  width: 6.04%;
  height: 55.63px;
  margin-left: 40px;
}

.p-header__title--logo__png {
  width: auto;
  height: 55.63px;
}

.p-header__menu {
  width: 487.96px;
  margin-top: 5.5px;
  margin-left: 24.18%;
  box-sizing: border-box;
}

.p-header__menu__list {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.p-header__menu__item {
  padding: 11px 32px;
  border-right-width: 1px;
  border-left: 1px solid #707070;
}

.p-header__menu__item:last-child {
  border-right: 1px solid #000000;
}

.c-item__title {
  list-style: none;
  text-decoration: none;
  font-family: "Kaisei Tokumin", serif;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}

.burger-btn {
  display: none;
}

@media screen and (max-width: 768px) { /*タブレット*/
  .p-header__menu {
    display: none;
  }
  .p-header {
    position: relative;
    z-index: 20;
    height: 136px;
    margin-right: 60px;
    margin-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
  /* 以下、ハンバーガーボタン */
  .burger-btn {
    display: block;
    width: 39px;
    height: 39px;
    position: relative;
    z-index: 3;
    border: none;
  }
  .bar {
    width: 20px;
    height: 1px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0, 0, 0);
  }
  .bar_top {
    top: 10px;
  }
  .bar_mid {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .bar_bottom {
    bottom: 10px;
  }
}
@media screen and (max-width: 1280px) { /*タブレット*/
  .p-header__menu {
    display: none;
  }
  .p-header {
    position: relative;
    z-index: 20;
    margin-right: 8.53%;
    margin-left: 8.53%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
  /* 以下、ハンバーガーボタン */
  .burger-btn {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 3;
    margin-top: 8px;
    border: none;
  }
  .bar {
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
  }
  .bar_top {
    top: 0px;
  }
  .bar_mid {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .bar_bottom {
    bottom: 0px;
  }
  .p-header__title {
    margin-left: 0;
  }
}
@media screen and (max-width: 375px) { /*スマホ*/
  .p-header {
    position: relative;
    z-index: 20;
    margin-right: 8.53%;
    margin-left: 8.53%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
}
/*使用例.button { background-color: var.$colorGR;}*/
.video__wrapper {
  width: 100%;
}

.video { /*背景に固定する*/
  position: fixed;
  z-index: -20;
  top: -336px;
  width: 136%;
}

.video__filter {
  position: fixed;
  width: 100%;
  z-index: -10;
  top: -136px;
  width: 136%;
  height: 136%;
  opacity: 0.5; /*デザインは0.2*/
  background-color: black;
}

/*使用例.button { background-color: var.$colorGR;}*/
.p-hero {
  position: relative;
  z-index: 0;
  max-width: 100%;
  height: 0;
  padding-bottom: 51.45%;
}

.c-picture__wrapper { /*写真のラッパー*/
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.c-picture--top { /*白い枠--電球の写真*/
  position: absolute;
  z-index: 20;
  width: 63.88%;
  height: 0;
  padding-bottom: 42%;
  background-color: #ffffff;
}

.c-light__jpg { /*電球の写真本体*/
  position: relative;
  z-index: 40;
  width: 91.3%;
  margin: 38.5px 4.3%;
}

.c-copy--1 { /*わかりやすいデザインをめざしています*/
  position: absolute;
  z-index: 40;
  top: 18%;
  left: 50%; /*真ん中に配置*/
  transform: translate(-50%, -50%); /*真ん中に配置*/
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 56.52%;
  font-family: "Kaisei Tokumin", serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.5;
  color: #ffffff;
}

/*使用例.button { background-color: var.$colorGR;}*/
.p-about {
  max-width: 100%;
  margin-right: 260px;
  margin-left: 260px;
  padding-top: 80px;
  padding-bottom: 64px;
}

.c-title--about {
  margin-bottom: 80px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 40px;
  color: #000000;
  line-height: 1.5;
}

.c-cope--1 {
  margin-bottom: 64px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 24px;
  color: #000000;
  line-height: 1.75;
  opacity: 1;
}

.c-card__about__wrapper { /*カードを横並びに*/
  display: flex;
  justify-content: center;
  margin-right: 4.34%;
  margin-left: 4.34%;
}

.c-card__about:nth-of-type(2n) {
  margin-right: 0;
}

.c-card__about {
  width: 25.03vw;
  min-width: 25%;
  margin-right: 14.28%;
  background-color: #707070;
  text-align: center;
}

.c-keyboad__jpg {
  width: 100%;
  opacity: 1;
  border: solid red 1px;
}

.c-copy {
  width: 60%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: bold;
  font-size: 1.11px;
  color: #ffffff;
  line-height: 1.5;
  opacity: 1;
}

.c-information__wrapper {
  width: 100%;
  margin-top: 64px;
  opacity: 1;
}

.p-about__information {
  font-weight: normal;
  font-size: 16px;
  font-family: "Kaisei Tokumin", serif;
  color: #000000;
  line-height: 1.75;
  opacity: 1;
}

.p-about__pic--me {
  width: 15.76%;
  margin-right: 50%;
  margin-left: 50%;
  margin-top: 64px;
}

/*使用例.button { background-color: var.$colorGR;}*/
.p-product {
  position: relative;
  z-index: 10;
  max-width: 100%;
  margin-right: 80px;
  margin-left: 80px;
  padding-top: 40px;
  padding-bottom: 80px;
  border: solid red 1px;
}

.c-title--product {
  margin-left: 182px;
  margin-bottom: 80px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 40px;
  color: #ffffff;
  line-height: 1.5;
}

.p-product__wrapper {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 24px;
}

.c-product {
  width: 31.25%;
  margin-right: 3.125%;
  margin-bottom: 24px;
}

.c-product__pic {
  width: 100%;
}

.c-product:nth-of-type(3n) {
  margin-right: 0;
}

/*使用例.button { background-color: var.$colorGR;}*/
.p-skill {
  position: relative;
  z-index: 10;
  max-width: 100%;
  margin-right: 228px;
  margin-left: 228px;
  padding-top: 80px;
  padding-bottom: 104px;
}

.c-title--skill {
  margin-left: 3.25%;
  margin-bottom: 80px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 40px;
  color: #000000;
  line-height: 1.5;
}

.p-skill__wrapper {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  min-width: 70.73%;
}

.c-skill__card {
  position: relative;
  width: 31.7%;
  min-width: 23.57%;
  height: 460px;
  margin-right: 2.43%;
  margin-bottom: 24px;
  background-color: rgb(255, 255, 255);
  font-family: "Kaisei Tokumin", serif;
  font-weight: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 1.75;
  box-sizing: border-box;
}

.c-skill__card:nth-of-type(3n) {
  margin-right: 0;
}

.text-area {
  position: relative;
  z-index: 30;
  width: 16.11vw;
  height: 384px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 32px;
}

.c-tool {
  width: 33.18%;
  margin: auto;
  margin-bottom: 8.42%;
}

.c-skill__card__dis {
  font-family: "Kaisei Tokumin", serif;
  font-weight: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 1.75;
}

.c-skill__card__title {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 1.66vw;
  color: rgb(0, 0, 0);
  line-height: 1.5;
}

.c-skill__card__title.bottom {
  margin-bottom: 16px;
  color: rgb(0, 0, 0);
}

/*使用例.button { background-color: var.$colorGR;}*/
.p-contact {
  position: relative;
  z-index: 10;
  margin-right: 260px;
  margin-left: 260px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.contact-table {
  width: 55.55vw;
  margin: auto;
  margin-bottom: 80px;
  background-color: #FFFFFF;
}

.c-title--contact {
  margin-bottom: 80px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 40px;
  color: #ffffff;
  line-height: 1.5;
  opacity: 1;
}

.c-dispriciton--contact {
  margin-bottom: 80px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.5;
  opacity: 1;
}

/*サイト参考*/
.contact-item {
  text-align: right;
  vertical-align: middle;
  width: 37%;
  background-color: #FEDA1C;
  font-family: "Kaisei Tokumin", serif;
  font-weight: normal;
}

.contact-item,
.contact-body {
  padding: 16px;
  border: 1px solid #1c1f22;
}

.contact-body {
  width: 63%;
}

.contact-body {
  width: 100%;
  padding: 20px;
  text-align: left;
  background-color: rgb(255, 255, 255);
}

input.form-text {
  width: 88.54%;
}

textarea.form-textarea {
  width: 88.54%;
  height: 240px;
}

.contact-item:nth-child(4) {
  border: solid red 1px;
}

/*使用例.button { background-color: var.$colorGR;}*/
.p-footer {
  position: relative;
  z-index: 20;
  height: 85px;
  padding-top: 24px;
  padding-bottom: 24px;
  box-sizing: border-box;
}

.p-footer__title {
  margin: auto;
  width: 6.04%;
}

.p-footer__title--logo__png {
  width: auto;
  height: 37px;
}

/*使用例.button { background-color: var.$colorGR;}*/
.p-details {
  max-width: 100%;
  min-width: 920px;
  margin-right: 18.05vw;
  margin-left: 18.05vw;
  margin-bottom: 112px;
  padding-top: 80px;
  padding-left: 5.55vw;
  padding-right: 5.55vw;
  padding-bottom: 104px;
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
}

.c-title--details {
  margin-bottom: 80px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 40px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
}

.c-sub-title--details {
  margin-bottom: 24px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 24px;
  color: rgb(255, 255, 255);
  line-height: 1.75;
  opacity: 1;
}

.c-picture--top--single { /*白い背景の台紙*/
  position: relative;
  z-index: 20;
  width: 63.88%;
  height: 0;
  padding-bottom: 42%;
  background-color: rgba(255, 255, 255, 0.8);
}

.c-picture--top--single::after {
  display: block;
  position: absolute;
  z-index: 30;
  top: 32px;
  right: 2.5vw;
  left: 2.5vw;
  bottom: 32px;
  content: "";
  width: 91.3%;
  min-width: 57.14%;
  height: 0;
  padding-bottom: 61.5%;
  margin: auto;
  background-color: rgb(191, 181, 184);
}

.c-product__jpg--1 { /*RaiseTech正方形バナー*/
  display: block;
  position: relative;
  z-index: 50;
  top: 6.8vh;
  bottom: 6.8vh;
  width: 57.14%;
  margin: auto;
}

.c-information__wrapper {
  width: 100%;
  margin-bottom: 56px;
  opacity: 1;
}

.p-details__information {
  font-weight: normal;
  font-size: 16px;
  font-family: "Kaisei Tokumin", serif;
  color: rgb(255, 255, 255);
  line-height: 1.75;
}

.c-dli-caret-right {
  display: inline-block;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  line-height: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0.375em 0.64952em;
  border-left-color: currentColor;
  border-right: 0;
}

.c-text-link {
  font-weight: normal;
  font-size: 16px;
  font-family: "Kaisei Tokumin", serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/**
* Foundation
* ========================== */
/**
* Layout
* ========================== */
/**
/* object
* ========================== */
/*component */
/*project */
/*global */
/*# sourceMappingURL=style.css.map */