@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  text-decoration: none; /*リテキストの装飾を行わない*/
  box-sizing: border-box; /*padding・borderを含めてサイズを指定する*/
  list-style: none; /*リストの装飾は表示しない*/
}

body {
  min-width: 375px;
  min-height: 100vh; /*ブラウザの高さいっぱいに要素を広げる*/
}

img, background {
  max-width: 100%; /*最大幅*/
}

ul, li {
  list-style: none; /*リストの装飾をしない*/
  text-decoration: none; /*文字の装飾をしない*/
}

a {
  text-decoration: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: middle;
}

.l-body {
  position: relative;
  overflow: hidden;
}

.l-header {
  width: 100%;
  background-color: #FEDA1C;
  box-sizing: border-box;
}

.l-about {
  position: relative;
  max-width: 100%;
  z-index: 10;
  background-color: rgba(254, 218, 28, 0.8);
}

.l-product {
  position: relative;
  max-width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

.l-skill {
  position: relative;
  max-width: 100%;
  z-index: 10;
  background-color: rgba(254, 218, 28, 0.8);
}

.l-contact {
  position: relative;
  max-width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

.l-footer {
  position: relative;
  z-index: 20;
  background-color: #FEDA1C;
}

.l-details {
  position: relative;
  max-width: 100%;
  z-index: 10;
}

h1 {
  color: blue;
}
h1 span {
  display: flex;
  align-items: center;
  position: relative;
}
h1 span::before, h1 span::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: green;
}
h1 span::before {
  transform: rotate(45deg);
}
h1 span::after {
  transform: rotate(-45deg);
}

h2 {
  color: rgb(255, 38, 0);
}
h2 span {
  display: flex;
  align-items: center;
  position: relative;
}
h2 span::before, h2 span::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: green;
}
h2 span::before {
  transform: rotate(45deg);
}
h2 span::after {
  transform: rotate(-45deg);
}

/** 色の変数 ------------ **/
/* テスト */
/** アニメーション ------------ **/
/* ふわっと出る*/
.fadein-out {
  animation-name: smooth-fadein-out; /*アニメの命名*/
  animation-duration: 1.5s; /*持続時間は1.5秒*/
  animation-timing-function: ease; /*後半でゆっくりに*/
  animation-delay: 0s; /*開始されるまでの遅延はなし*/
  animation-iteration-count: 1; /*回数*/
}

@keyframes smooth-fadein-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*@forward "mixins";*/
.button {
  background-color: #2ab733;
}

.p-contact--button {
  display: block;
  margin-right: 322px;
  margin-left: 322px;
  width: 280px; /*ずっと280px*/
  height: 56px;
  background-color: #FEDA1C;
  border-radius: 10px;
  margin: auto;
}

.p-contact--button a {
  font-family: "Kaisei Tokumin", serif;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
}

/*使用例.button { background-color: var.$colorGR;}*/
.p-header {
  position: fixed;
  z-index: 40;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 136px;
  padding-top: 40px;
  padding-bottom: 40.4px;
  background-color: #FEDA1C;
  box-sizing: border-box;
}

.p-header__title {
  width: auto;
  height: 55.63px;
  margin-left: 300px;
}

.p-header__title--logo__png {
  width: auto;
  height: 55.63px;
}

.p-header__menu {
  width: 487.96px;
  margin-top: 5.5px;
  margin-right: 260px;
  box-sizing: border-box;
}

.p-header__menu__list {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.p-header__menu__item {
  padding: 11px 32px;
  border-right-width: 1px;
  border-left: 1px solid #707070;
}

.p-header__menu__item:last-child {
  border-right: 1px solid #707070;
}

.c-item__title {
  list-style: none;
  text-decoration: none;
  font-family: "Kaisei Tokumin", serif;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}

.burger-btn {
  display: none;
}

@media screen and (max-width: 1280px) { /*タブレット*/
  .p-header {
    position: fixed;
    z-index: 40;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 136px;
    padding-top: 40px;
    padding-bottom: 40.4px;
    overflow: hidden;
    box-sizing: border-box;
  }
  /* 以下、ハンバーガーボタン　spとサイズ同様 */
  .burger-btn {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 30;
    margin-top: 8px;
    margin-right: 13.67%;
    border: none;
  }
  .bar {
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
  }
  .bar_top {
    top: 0px;
  }
  .bar_mid {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .bar_bottom {
    bottom: 0px;
  }
  .p-header__title {
    margin-left: 14.71%;
  }
  /*ハンバーガーボタン*/
  /*ボタンを押した後*/
  .burger-btn.close .bar_top {
    transform: translate(-50%, 10px) rotate(45deg);
    transition: transform 0.3s;
  }
  .burger-btn.close .bar_mid {
    opacity: 0;
    transition: transform 0.5s;
  }
  .burger-btn.close .bar_bottom {
    transform: translate(-50%, -8px) rotate(-45deg);
    transition: transform 0.3s;
  }
  /*ハンバーガーメニュー*/
  /*開いた後*/
  .p-header__menu {
    display: block;
    position: fixed;
    z-index: 30;
    width: 100%;
    top: 117px;
    left: 0;
    border: solid 1px rgb(255, 255, 255);
    background-color: #FEDA1C;
    transition: transform 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  .p-header__menu__item:last-child {
    border-right: none;
  }
  .p-header__menu__list {
    display: flex;
    position: relative;
    z-index: 40;
    justify-content: center;
    flex-direction: column; /*横並びを縦並びに*/
  }
  .p-header__menu__item {
    margin-right: 0;
    padding-top: 35px;
    padding-left: 22.4%;
    padding-bottom: 35px;
    text-align: left;
    border-left: none;
    border: solid 1px white;
  }
  .c-item__title {
    list-style: none;
    text-decoration: none;
    font-family: "Kaisei Tokumin", serif;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
  }
  /* ボタンを押すとメニューが出る */
  .p-header__menu.open {
    visibility: visible;
    opacity: 1;
  }
}
@media screen and (max-width: 768px) { /*タブレット*/
  .p-header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 136px;
    overflow: hidden;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 375px) { /*スマホ*/
  .p-header {
    position: fixed;
    width: 100%;
    height: 96px;
    padding-top: 21.87%;
    padding-bottom: 23.125%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .p-header__title {
    width: auto;
    height: 51.78px;
    margin-left: 12%;
  }
  .burger-btn {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 40;
    margin-top: 8px;
    margin-right: 10.13%;
    border: none;
  }
}
/*使用例.button { background-color: var.$colorGR;}*/
.p-main {
  width: 100%;
  min-height: 100vh;
}

.video__wrapper {
  position: fixed;
  z-index: -30;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.video { /*背景に固定する*/
  position: fixed;
  z-index: -30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*縦横幅指定*/
  width: 130.553vh;
  height: 76.59vw;
  min-height: 250%;
  min-width: 250%;
}

.video__filter {
  position: fixed;
  width: 100%;
  z-index: -10;
  top: -136px;
  min-height: 200%;
  min-width: 200%;
  opacity: 0.5; /*デザインは0.2*/
  background-color: black;
}

@media screen and (max-width: 768px) { /*スマホ*/
  .video { /*背景に固定する*/
    position: fixed;
    z-index: -30;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 199.9999vh; /*ビューポート1024px*/
    height: 75vw;
    min-height: 200%;
    min-width: 200%;
  }
}
@media screen and (max-width: 375px) { /*スマホ*/
  .video { /*背景に固定する*/
    position: fixed;
    z-index: -30;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 216.5333vh; /*ビューポート812px*/
    height: 46.1822vw;
    min-height: 200%;
    min-width: 200%;
  }
}
/*使用例.button { background-color: var.$colorGR;}*/
.p-hero {
  max-width: 100%;
  height: 0;
  padding-top: 200px; /*ヘッダーの高さ136px+余白64px*/
  padding-bottom: 42%; /*上下マージン抜きのheroのアスペクト比*/
  box-sizing: border-box;
}

.c-picture__wrapper { /*写真のラッパー*/
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  /*margin-topをつけると下の要素が重なる*/
  /*margin-bottomでは下に余白ができない*/
  box-sizing: border-box;
}

.c-picture--top { /*白い枠--電球の写真*/
  position: absolute;
  z-index: 20;
  width: 63.88%;
  height: 0;
  padding-bottom: 42%;
  background-color: rgba(255, 255, 255, 0.8); /*#ffffff*/
}

.c-light__jpg { /*電球の写真本体*/
  position: absolute;
  width: 91.3%;
  top: 50%; /*真ん中に配置*/
  left: 50%;
  transform: translate(-50%, -50%); /*真ん中に配置*/
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.c-copy--1 { /*わかりやすいデザインをめざしています*/
  position: absolute;
  z-index: 50;
  top: 18%;
  left: 50%; /*真ん中に配置*/
  transform: translate(-50%, -50%); /*真ん中に配置*/
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 70%;
  font-family: "Kaisei Tokumin", serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.5;
  color: #ffffff;
}

@media screen and (max-width: 1200px) { /*タブレット*/
  .p-hero {
    position: relative;
    z-index: 0;
    max-width: 100%;
    height: 0;
  }
  .c-light__jpg { /*電球の写真本体*/
    position: absolute;
    z-index: 40;
    width: 91.3%;
    top: 50%; /*真ん中に配置*/
    left: 50%;
    transform: translate(-50%, -50%); /*真ん中に配置*/
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .c-copy--1 { /*わかりやすいデザインをめざしています*/
    position: absolute;
    top: 22%;
    width: 90%;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 768px) { /*タブレット*/
  .p-hero {
    position: relative;
    z-index: 30;
    width: 100%;
    height: 0;
  }
  .c-picture__wrapper { /*写真のラッパー*/
    position: relative;
    z-index: 30;
    display: flex;
    justify-content: center;
    width: 100%;
    /*margin: 56px auto;*/
    margin: 0px auto;
    box-sizing: border-box;
  }
  .c-light__jpg { /*電球の写真本体*/
    position: absolute;
    z-index: 40;
    width: 91.3%;
    top: 50%; /*真ん中に配置*/
    left: 50%;
    transform: translate(-50%, -50%); /*真ん中に配置*/
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .c-copy--1 { /*わかりやすいデザインをめざしています*/
    position: absolute;
    top: 49px;
    width: 70%;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.75;
  }
}
@media screen and (max-width: 375px) { /*SP*/
  .c-copy--1 { /*わかりやすいデザインをめざしています*/
    position: absolute;
    top: 152px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
  }
  .c-picture__wrapper { /*写真のラッパー*/
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 154px auto 136px auto;
    box-sizing: border-box;
  }
  .c-picture--top { /*白い枠*/
    position: relative;
    z-index: 30;
    width: 82.66%; /*310px*/
    height: 0;
    padding-bottom: 67.09%;
    background-color: #ffffff;
  }
  .c-light__jpg { /*電球の写真本体*/
    position: absolute;
    z-index: 40;
    width: 91.61%; /*284px*/
    top: 50%; /*真ん中に配置*/
    left: 50%;
    transform: translate(-50%, -50%); /*真ん中に配置*/
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .p-hero__single {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.p-about {
  position: relative;
  z-index: 30;
  max-width: 100%;
  margin-top: 64px;
  margin-right: 260px;
  margin-left: 260px;
  padding-top: 80px;
  padding-bottom: 64px;
}

.c-title--about {
  margin-bottom: 80px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 40px;
  color: #000000;
  line-height: 1.5;
}

.c-cope--1 {
  margin-bottom: 64px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 24px;
  color: #000000;
  line-height: 1.75;
  opacity: 1;
}

.c-card__about__wrapper { /*カードを横並びに*/
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 4.34%;
  margin-left: 4.34%;
  margin-bottom: 0;
  box-sizing: border-box;
}

.c-card__about:nth-of-type(2n) {
  margin-right: 0;
}

.c-card__about {
  width: 39.13%;
  margin-right: 14.28%;
  background-color: rgba(112, 112, 112, 0.6); /*#707070;*/
  text-align: center;
  box-sizing: border-box;
}

.c-card__about:nth-child(1) { /*カードを横並びに*/
  margin-bottom: 0px;
}

.c-keyboad__jpg {
  width: 100%;
  opacity: 1;
}

.c-copy {
  width: 60%;
  margin: auto;
  padding-top: 21px;
  padding-bottom: 19px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  opacity: 1;
  box-sizing: border-box;
}

.c-information__wrapper {
  width: 100%;
  margin-top: 64px;
  opacity: 1;
}

.p-about__information {
  font-weight: normal;
  font-size: 16px;
  font-family: "Kaisei Tokumin", serif;
  color: #000000;
  line-height: 1.75;
  opacity: 1;
}

.p-about__pic--me {
  width: 15.76%;
  margin: auto;
  margin-top: 64px;
  opacity: 1;
}

.c-card__about__wrapper { /*カードを横並びに*/
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 4.34%;
  margin-left: 4.34%;
}

@media screen and (max-width: 1000px) { /*タブレット*/
  .p-about {
    margin-right: 8.33%;
    margin-left: 8.33%;
  }
  .c-title--about {
    margin-bottom: 72px;
  }
  .c-card__about__wrapper { /*カードを横並びに*/
    display: flex;
    flex-direction: column;
    width: 71.32%;
    margin-right: 14.26%;
    margin-left: 14.26%;
  }
  .c-card__about:nth-of-type(2n) {
    margin-right: auto;
  }
  .c-card__about {
    width: 100%;
    background-color: rgba(112, 112, 112, 0.6); /*#707070;*/
    text-align: center;
  }
  .c-keyboad__jpg {
    width: 100%;
    opacity: 1;
  }
  .c-card__about:nth-child(1) { /*カードを横並びに*/
    margin-bottom: 24px;
  }
  .p-about__pic--me {
    width: 21.51%;
  }
}
@media screen and (max-width: 768px) { /*タブレット*/
  .c-title--about {
    font-size: 32px;
    line-height: 1.75;
  }
}
@media screen and (max-width: 375px) { /*タブレット*/
  .p-about {
    margin-right: 0.88%;
    margin-left: 0.88%;
  }
  .c-title--about {
    margin-left: 0%;
    margin-bottom: 0;
  }
  .c-card__about__wrapper { /*カードを横並びに*/
    display: flex;
    flex-direction: column;
    width: 71.32%;
    margin-right: 0;
    margin-left: 0;
  }
  .c-card__about:nth-of-type(2n) {
    margin-right: auto;
  }
  .c-card__about {
    width: 100%;
    background-color: #707070;
    text-align: center;
  }
  .c-keyboad__jpg {
    width: 100%;
    opacity: 1;
  }
  .c-card__about:nth-child(1) { /*カードを横並びに*/
    margin-bottom: 24px;
  }
  .p-about__pic--me {
    width: 34.93%;
  }
}
/*使用例.button { background-color: var.$colorGR;}*/
.p-product {
  position: relative;
  z-index: 10;
  max-width: 100%;
  margin-right: 80px;
  margin-left: 80px;
  padding-top: 40px;
  padding-bottom: 80px;
}

.c-title--product {
  margin-left: 182px;
  margin-bottom: 80px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 40px;
  color: #ffffff;
  line-height: 1.5;
}

.p-product__wrapper {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 24px;
}

.c-product {
  width: 31.25%;
  margin-right: 3.125%;
  margin-bottom: 24px;
}

.c-product__pic {
  width: 100%;
}

.c-product:nth-of-type(3n) {
  margin-right: 0;
}

@media screen and (max-width: 1000px) { /*タブレット*/
  .p-product__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 24px;
  }
  .c-product {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
  }
  .c-title--product {
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) { /*タブレット*/
  .c-title--product {
    line-height: 1.75;
  }
}
@media screen and (max-width: 375px) { /*タブレット*/
  .p-product__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 24px;
  }
  .p-product {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
  }
}
/*使用例.button { background-color: var.$colorGR;}*/
.p-skill {
  position: relative;
  z-index: 10;
  max-width: 100%; /*ここにmin-widthすると中心がずれる*/
  margin-right: 15.76%;
  margin-left: 15.76%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.c-title--skill {
  margin-left: 3.25%;
  margin-bottom: 80px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 40px;
  color: #000000;
  line-height: 1.5;
}

.p-skill__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  width: 100%; /*ここにmin-widthは意味がない*/
  margin: auto;
  box-sizing: border-box;
}

.cardBox {
  position: relative;
  width: 31.7%; /*ここにmin-widthは意味がない*/
  margin-right: 2.43%;
  margin-bottom: 24px;
  background-color: rgb(248, 249, 250); /*#F8F9FA;*/
  box-sizing: border-box;
}

.cardBox img {
  display: block;
  max-width: 5.34vw;
  margin: 0 auto 16px;
}

.cardBox:nth-of-type(3n) {
  margin-right: 0;
}

.cardTtl { /*ツール名*/
  text-align: center;
  font-family: "Josefin Sans", ital;
  font-size: 1.1vw;
  font-weight: bold;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 8px;
}

.cardText__title { /*期間と時間*/
  text-align: center;
  font-family: "Kaisei Tokumin", serif;
  font-size: 1.11vw;
  line-height: 1.5;
  color: #000000;
}

.cardText__title:nth-of-type(2n) { /*期間と時間の下余白*/
  margin-bottom: 16px;
}

.cardText__dis { /*自由内容*/
  font-family: "Kaisei Tokumin", serif;
  font-size: 1.11vw;
  line-height: 1.75;
  color: #000000;
  margin-bottom: 0;
}

.cardText { /*期間・時間・自由内容の枠*/
  margin: auto 8px;
}

.cardBox {
  position: relative;
  padding: 32px; /*色付きの枠の幅・縦*/
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.cardInner { /*真っ白の部分*/
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 8px 0px 8px;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  /*cardが縦に伸びすぎないように1200pxで調整*/
  .p-skill {
    position: relative;
    margin-right: 6.51%;
    margin-left: 6.51%;
  }
  .p-skill__wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 72%;
  }
  .c-title--skill {
    margin-left: 0%;
  }
  .cardBox:nth-of-type(3n) {
    margin-right: auto;
  }
  .cardBox {
    width: 91.25%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    padding: 6.89% 8.62%;
    box-sizing: border-box;
  }
  .cardBox:last-child {
    margin-bottom: 20px;
  }
  .cardTtl {
    text-align: center;
    font-size: 2.08vw;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0px;
  }
  .cardText__title { /*期間と時間*/
    margin-left: 0;
    font-size: 1.11vw;
    line-height: 1.5;
    text-align: center;
  }
  .cardText__dis { /*自由内容*/
    width: 96.35%;
    font-family: "Kaisei Tokumin", serif;
    font-size: 1.11vw;
    line-height: 1.75;
    color: #000000;
    margin: auto;
    margin-bottom: 0;
    padding-right: 8px;
    padding-left: 8px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) and (max-width: 768px) { /*タブレット*/
  .c-title--skill {
    line-height: 1.75;
  }
}
@media screen and (max-width: 1200px) {
  .cardBox {
    width: 100%;
    margin-bottom: 4 0px;
    padding: 6.89% 8.62%;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .cardText {
    margin-bottom: 0px;
    font-size: 2.08vw;
  }
}
@media screen and (max-width: 1200px) {
  .cardBox img {
    display: block;
    max-width: 10.02vw;
    margin: 0 auto 8px;
  }
}
@media screen and (max-width: 1200px) {
  .cardTtl {
    text-align: center;
    font-family: "Josefin Sans", ital;
    font-size: 1.1vw;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 1200px) {
  .cardText__title:nth-of-type(2n) { /*期間と時間の下余白*/
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 375px) { /*タブレット*/
  .cardBox {
    width: 100%;
    margin-bottom: 4 0px;
    padding: 10.25% 7.01%;
    box-sizing: border-box;
  }
  .cardText__title:nth-of-type(2n) { /*期間と時間の下余白*/
    margin-bottom: 8px;
  }
}
/*使用例.button { background-color: var.$colorGR;}*/
.p-contact {
  position: relative;
  z-index: 10;
  max-width: 100%;
  min-width: 320px; /*フォームの最低限 担保したい幅*/
  margin-right: 18.05%;
  margin-left: 18.05%;
  padding-top: 80px; /*セクションタイトルから上部までの距離*/
  padding-bottom: 80px; /*ボタン〜フッターの距離*/
}

.contact-table {
  width: 82.6%;
  margin: auto;
  margin-bottom: 80px;
}

.c-title--contact {
  margin-bottom: 80px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 40px;
  color: #ffffff;
  line-height: 1.5;
  opacity: 1;
}

.c-dispriciton--contact {
  margin-bottom: 80px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.5;
  opacity: 1;
}

/*サイト参考*/
.contact-item {
  text-align: right;
  vertical-align: middle;
  width: 37%;
  background-color: #FEDA1C;
  font-family: "Kaisei Tokumin", serif;
  font-weight: bold;
  box-sizing: border-box;
}

.contact-item,
.contact-body {
  padding: 16px;
  border: 1px solid #1c1f22;
}

.contact-body {
  width: 63%;
  height: 80px;
}

.contact-body {
  width: 100%;
  padding: 16px 3.37%;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

input.form-text {
  width: 88.54%;
  height: 48px;
}

textarea.form-textarea {
  width: 88.54%;
  height: 240px;
}

@media screen and (max-width: 1200px) { /*タブレット*/
  .p-contact {
    margin-right: 6.25%;
    margin-left: 6.25%;
  }
}
@media screen and (max-width: 768px) { /*タブレット*/
  .c-title--contact {
    font-size: 32px;
    line-height: 1.75;
  }
}
@media screen and (max-width: 375px) { /*タブレット*/
  .p-contact {
    width: 100%;
    margin-right: 9.3%;
    margin-left: 9.3%;
  }
  .contact-table {
    width: 100%;
    margin-right: 9.3%;
    margin-left: 9.3%;
    margin-bottom: 80px; /*本体〜ボタン*/
    background-color: #FFFFFF;
  }
  .c-title--contact {
    font-size: 32px;
    line-height: 1.75;
  }
}
/*使用例.button { background-color: var.$colorGR;}*/
.p-footer {
  position: relative;
  z-index: 20;
  height: 85px;
  padding-top: 24px;
  padding-bottom: 24px;
  box-sizing: border-box;
}

.p-footer__title {
  margin: auto;
  width: 8.15%;
}

.p-footer__title--logo__png {
  width: 100%;
}

@media screen and (max-width: 768px) { /*タブレット*/
  .p-footer__title {
    margin: auto;
    width: 15.29%;
  }
}
@media screen and (max-width: 768px) { /*SP*/
  .p-footer__title {
    margin: auto;
    width: 31.33%;
  }
}
/*使用例.button { background-color: var.$colorGR;}*/
.p-details {
  max-width: 100%;
  min-width: 920px;
  margin-right: 18.33%;
  margin-left: 18.33%;
  margin-top: 64px;
  margin-bottom: 112px;
  /*内側の余白*/
  padding-top: 80px;
  padding-left: 9.11%;
  padding-right: 9.11%;
  padding-bottom: 104px;
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
}

.c-title--details {
  margin-bottom: 80px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 40px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
}

.c-sub-title--details {
  margin-bottom: 24px;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-size: 24px;
  color: rgb(255, 255, 255);
  line-height: 1.75;
  opacity: 1;
}

.c-picture--top--single { /*白い背景の台紙*/
  position: relative;
  z-index: 20;
  width: 63.88%;
  height: 0;
  padding-bottom: 42%;
  background-color: rgba(255, 255, 255, 0.8);
}

.c-picture--top--single::after {
  display: block;
  position: absolute;
  z-index: 30;
  top: 32px;
  right: 2.5vw;
  left: 2.5vw;
  bottom: 32px;
  content: "";
  width: 91.3%;
  min-width: 57.14%;
  height: 0;
  padding-bottom: 61.5%;
  margin: auto;
  background-color: rgb(191, 181, 184);
}

.c-product__jpg--1 { /*RaiseTech正方形バナー*/
  display: block;
  position: relative;
  z-index: 50;
  top: 6.8vh;
  bottom: 6.8vh;
  width: 57.14%;
  margin: auto;
}

.c-information__wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  margin-bottom: 56px;
  opacity: 1;
}

.p-details__information {
  font-weight: normal;
  font-size: 16px;
  font-family: "Kaisei Tokumin", serif;
  color: rgb(255, 255, 255);
  line-height: 1.75;
}

.c-dli-caret-right {
  display: inline-block;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  line-height: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0.375em 0.64952em;
  border-left-color: currentColor;
  border-right: 0;
}

.c-text-link {
  font-weight: normal;
  font-size: 16px;
  font-family: "Kaisei Tokumin", serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@media screen and (max-width: 1400px) { /*タブレット*/
  .p-details {
    position: relative;
    z-index: 0;
    max-width: 100%;
    min-width: 60.93%;
    margin-top: 56px;
    margin-right: 18.33%;
    margin-left: 18.33%;
    margin-bottom: 88px;
    padding-top: 64px;
    padding-right: 10.57%;
    padding-left: 10.57%;
    padding-bottom: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
  }
  .c-title--details {
    margin-bottom: 0;
    font-family: "Kaisei Tokumin", serif;
    font-weight: 800;
    font-size: 40px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
  }
  .c-sub-title--details {
    margin-bottom: 24px;
    font-family: "Kaisei Tokumin", serif;
    font-weight: 800;
    font-size: 24px;
    color: rgb(255, 255, 255);
    line-height: 1.75;
    opacity: 1;
  }
  .c-picture--top--single { /*白い背景の台紙*/
    position: relative;
    z-index: 20;
    width: 63.88%;
    height: 0;
    padding-bottom: 42%;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .c-picture--top--single::after {
    display: block;
    position: absolute;
    z-index: 30;
    top: 32px;
    right: 2.5vw;
    left: 2.5vw;
    bottom: 32px;
    content: "";
    width: 91.3%;
    min-width: 57.14%;
    height: 0;
    padding-bottom: 61.5%;
    margin: auto;
    background-color: rgb(191, 181, 184);
  }
  .c-product__jpg--1 { /*RaiseTech正方形バナー*/
    display: block;
    position: relative;
    z-index: 50;
    top: 4vh;
    bottom: 4vh;
    width: 57.14%;
    margin: auto;
  }
  .c-information__wrapper {
    position: relative;
    z-index: 0;
    width: 100%;
    margin-bottom: 56px;
    opacity: 1;
  }
  .p-details__information {
    font-weight: normal;
    font-size: 16px;
    font-family: "Kaisei Tokumin", serif;
    color: rgb(255, 255, 255);
    line-height: 1.75;
  }
  .c-dli-caret-right {
    display: inline-block;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    line-height: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 0.375em 0.64952em;
    border-left-color: currentColor;
    border-right: 0;
  }
  .c-text-link {
    font-weight: normal;
    font-size: 16px;
    font-family: "Kaisei Tokumin", serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
}
@media screen and (max-width: 375px) { /*SP*/
  .p-details {
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
    max-width: 100%;
    min-width: 80.25%;
    margin-top: 0;
    margin-top: 24px;
    margin-right: 10.13%;
    margin-left: 10.13%;
    margin-bottom: 88px;
    padding-top: 64px;
    padding-right: 9.67%;
    padding-left: 9.67%;
    padding-bottom: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
  }
  .c-product__jpg--1 { /*RaiseTech正方形バナー*/
    display: block;
    position: relative;
    z-index: 50;
    top: 2vh;
    bottom: 2vh;
    width: 57.14%;
    margin: auto;
  }
}
/**
* Foundation
* ========================== */
/**
* Layout
* ========================== */
/**
/* object
* ========================== */
/*component */
/*project */
/*global */
/*# sourceMappingURL=style.css.map */