@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/
/*テスト*//*テスト*/

.p-about{
  max-width:100% ;
  margin-right: 260px;
  margin-left: 260px;
  padding-top: 80px;
  padding-bottom: 64px;
}

.c-title--about{
  margin-bottom: 80px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 40px;
  color: #000000;
  line-height: 1.5;
}

.c-cope--1{
  margin-bottom: 64px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 24px;
  color: #000000;
  line-height: 1.75;
  opacity: 1;
}

.c-card__about__wrapper{/*カードを横並びに*/
  display: flex;
  justify-content: center;
  margin-right: 4.34%;
  margin-left: 4.34%;
  margin-bottom: 0;
}

.c-card__about:nth-of-type(2n) {//(Xn): X = 右端の列の倍数
  margin-right: 0;
}

.c-card__about{
  width: 25.03vw;
  min-width: 25%;
  margin-right: 14.28%;
  background-color: #707070;
  text-align: center;
}

.c-card__about:nth-child(1){/*カードを横並びに*/
  margin-bottom: 0px;
}


.c-keyboad__jpg{
  width: 100%;
  opacity: 1;
  border: solid red 1px;
}

.c-copy{
  width: 60%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;

  font-family: 'Kaisei Tokumin', serif;
  font-weight:bold;
  font-size: 1.11px;
  color: #ffffff;
  line-height: 1.5;

  opacity: 1;
}

.c-information__wrapper{
  width: 100%;
  margin-top: 64px;
  opacity: 1;
}

.p-about__information{
  font-weight:normal;
  font-size: 16px;
  font-family: 'Kaisei Tokumin', serif;
  color: #000000;
  line-height: 1.75;
  opacity: 1;
}

.p-about__pic--me{
  width: 15.76%;
  margin-right: 50%;
  margin-left: 50%;
  margin-top: 64px;
}

.c-card__about__wrapper{/*カードを横並びに*/
  display: flex;
  justify-content: center;
  margin-right: 4.34%;
  margin-left: 4.34%;
}

@media screen and (max-width:1000px) {/*タブレット*/

  .c-card__about__wrapper{/*カードを横並びに*/
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-right: 4.34%;
    margin-left: 4.34%;
  }

  .c-card__about{
    width: 50vw;
    min-width: 50%;
    margin-right: 0;
    background-color: #707070;
    text-align: center;
  }

  .c-card__about:nth-child(1){/*カードを横並びに*/
    margin-bottom: 24px;
  }

}
