@use '../utility' as var;

.p-about{
  position:relative;
  z-index: 30;
  max-width:100% ;
  margin-top: 64px;
  margin-right: 260px;
  margin-left: 260px;
  padding-top: 80px;
  padding-bottom: 64px;
}

.c-title--about{
  margin-bottom: 80px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 40px;
  color: #000000;
  line-height: 1.5;
}

.c-cope--1{
  margin-bottom: 64px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 24px;
  color: #000000;
  line-height: 1.75;
  opacity: 1;
}

.c-card__about__wrapper{/*カードを横並びに*/
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 4.34%;
  margin-left: 4.34%;
  margin-bottom: 0;
  box-sizing: border-box;
}

.c-card__about:nth-of-type(2n) {//(Xn): X = 右端の列の倍数
  margin-right: 0;
}

.c-card__about{
  width: 39.13%;
  margin-right: 14.28%;

  background-color: rgb(112, 112, 112, 0.6);/*#707070;*/
  text-align: center;

  box-sizing: border-box;
}

.c-card__about:nth-child(1){/*カードを横並びに*/
  margin-bottom: 0px;
}


.c-keyboad__jpg{
  width: 100%;
  opacity: 1;
  border: solid red 1px;
}

.c-copy{
  width: 60%;
  margin: auto;
  padding-top: 21px;
  padding-bottom: 19px;

  font-family: 'Kaisei Tokumin', serif;
  font-weight:bold;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;

  opacity: 1;
  box-sizing: border-box;
}

.c-information__wrapper{
  width: 100%;
  margin-top: 64px;
  opacity: 1;
}

.p-about__information{
  font-weight:normal;
  font-size: 16px;
  font-family: 'Kaisei Tokumin', serif;
  color: #000000;
  line-height: 1.75;
  opacity: 1;
}

.p-about__pic--me{
  width: 15.76% ;
  margin: auto;
  margin-top: 64px;
  opacity: 1;
}

.c-card__about__wrapper{/*カードを横並びに*/
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 4.34%;
  margin-left: 4.34%;
}

@media screen and (max-width:1000px) {/*タブレット*/
  .p-about{
    margin-right: 6.25%;
    margin-left: 6.25%;
  }

  .c-title--about{
    margin-bottom: 72px;
  }


  .c-card__about__wrapper{/*カードを横並びに*/
    display: flex;
    flex-direction: column;
    width: 71.32%;
    margin-right: 14.26%;
    margin-left: 14.26%;

    border: solid red 1px;
  }
  .c-card__about:nth-of-type(2n) {//(Xn): X = 右端の列の倍数
    margin-right: auto;
  }



    .c-card__about{
      width: 100%;


      background-color: rgb(112, 112, 112, 0.6);/*#707070;*/
    text-align: center;
  }

  .c-keyboad__jpg{
    width: 100%;
    opacity: 1;
    border: solid red 1px;
  }





  .c-card__about:nth-child(1){/*カードを横並びに*/
    margin-bottom: 24px;
  }





  .p-about__pic--me{
    width: 21.51% ;
  }

}
@media screen and (max-width:375px) {/*タブレット*/
  .p-about{
    margin-right: 0.88%;
    margin-left: 0.88%;
  }

  .c-title--about{
    margin-bottom: 0;
  }


  .c-card__about__wrapper{/*カードを横並びに*/
    display: flex;
    flex-direction: column;
    width: 71.32%;
    margin-right: 0;
    margin-left: 0;

    border: solid red 1px;
  }
  .c-card__about:nth-of-type(2n) {//(Xn): X = 右端の列の倍数
    margin-right: auto;
  }



    .c-card__about{
      width: 100%;


    background-color: #707070;
    text-align: center;




  }

  .c-keyboad__jpg{
    width: 100%;
    opacity: 1;
    border: solid red 1px;
  }





  .c-card__about:nth-child(1){/*カードを横並びに*/
    margin-bottom: 24px;
  }





  .p-about__pic--me{
    width: 34.93% ;
  }

}
