@use '../utility' as c;
.button { background-color: c.$colorGR;}

  .p-contact--button{
  display: block;
  margin-right: 322px;
  margin-left: 322px;
  width: 280px;
  height:56px ;
  background-color: #FEDA1C;
  border-radius: 10px;
  margin: auto;
}

  .p-contact--button a{
    font-family: 'Kaisei Tokumin', serif;
    font-weight:bold;
    font-size: 16px;
    color: #000000;
    line-height: 1.5;
  }
