@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/
.p-contact{
  position: relative;
  z-index: 10;
  max-width: 100%;
  margin-right: 260px;
  margin-left: 260px;
  padding-top: 80px;
  padding-bottom: 80px;
  border: solid red 1px;

}

.c-title--contact{
  margin-bottom: 80px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 40px;
  color: #ffffff;
  line-height: 1.5;
  opacity: 1;
}

.c-dispriciton--contact{
  margin-bottom: 80px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.5;
  opacity: 1;
}


.p-contact__wrapper{

    width: 82.6%;
    height: 1000px;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 20px;
    background-color: aqua;
}
