@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/
.p-contact{
  position: relative;
  z-index: 10;
  max-width: 100%;
  min-width: 320px;/*フォームの担保したい幅*/
  margin-right: 18.05%;
  margin-left: 18.05%;
  padding-top: 80px;
  padding-bottom: 80px;/*ボタン〜フッター*/
}

.contact-table{
  width: 82.6%;
  margin: auto;
  margin-bottom: 80px;
  background-color: #FFFFFF;
  border: solid red 1px;
}

.c-title--contact{
  margin-bottom: 80px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 40px;
  color: #ffffff;
  line-height: 1.5;
  opacity: 1;
}

.c-dispriciton--contact{
  margin-bottom: 80px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.5;
  opacity: 1;
}
.c-information__wrapper{

}


/*サイト参考*/


.contact-item {

    text-align: right;
    vertical-align:middle;
    width: 37%;
    background-color: #FEDA1C;
    font-family: 'Kaisei Tokumin', serif;
    font-weight:bold;
    box-sizing: border-box;
}

.contact-item,
.contact-body {
    padding: 16px;
    border: 1px solid #1c1f22;
}

.contact-body {
  width: 63%;
  height: 80px;
}

.contact-body {
  width: 100%;

  padding: 16px 3.37%;

  text-align:center;
  vertical-align: middle;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

input.form-text {
  width: 88.54%;
  height:48px;
}

textarea.form-textarea{
  width: 88.54%;
  height:240px;
}

.contact-item:nth-child(4){
  border: solid red 1px;
}
@media screen and (max-width:1200px) {/*タブレット*/
  .p-contact{
    margin-right: 6.25%;
    margin-left: 6.25%;
  }


  }

@media screen and (max-width:375px) {/*タブレット*/
  .p-contact{
    width: 100%;
    margin-right: 9.3%;
    margin-left: 9.3%;

  }

  .contact-table{
    width: 100%;
    margin-right: 9.3%;
    margin-left: 9.3%;
    margin-bottom: 80px;/*本体〜ボタン*/
    background-color: #FFFFFF;
  }
  }
