@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/
.p-contact{
  position: relative;
  z-index: 10;

  margin-right: 260px;
  margin-left: 260px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.contact-table{
  width: 82.6%;
  margin: auto;
  margin-bottom: 80px;
  background-color: #FFFFFF;
}

.c-title--contact{
  margin-bottom: 80px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 40px;
  color: #ffffff;
  line-height: 1.5;
  opacity: 1;
}

.c-dispriciton--contact{
  margin-bottom: 80px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.5;
  opacity: 1;
}



/*サイト参考*/


.contact-item {

    text-align: right;
    vertical-align:middle;
    width: 37%;
    background-color: #FEDA1C;
    font-family: 'Kaisei Tokumin', serif;
    font-weight:normal;
    box-sizing: border-box;
}

.contact-item,
.contact-body {
    padding: 16px;
    border: 1px solid #1c1f22;
}

.contact-body {
  width: 63%;
  height: 80px;
}

.contact-body {
  width: 100%;

  padding: 16px 6.25%;

  text-align:center;
  vertical-align: middle;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

input.form-text {
  width: 88.54%;
  height:48px;
}

textarea.form-textarea{
  width: 88.54%;
  height:240px;
}

.contact-item:nth-child(4){
  border: solid red 1px;
}
@media screen and (max-width:768px) {/*タブレット*/
.p-contact{
  margin-right: 144px;
  margin-left: 144px;
}

.contact-table{
  width: 100%;

  margin-bottom: 80px;
  background-color: #FFFFFF;
}
}
@media screen and (max-width:375px) {/*タブレット*/
  .p-contact{
      width: 100%;
    margin-right: 35px;
    margin-left: 35px;
    border: solid red 1px;
  }

  .contact-table{
    width: 100%;

    margin-bottom: 80px;
    background-color: #FFFFFF;
  }
  }
