@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/
.p-contact{
  position: relative;
  z-index: 10;

  margin-right: 260px;
  margin-left: 260px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.contact-table{
  width: 52.77vw;
  margin: auto;
  margin-bottom: 80px;
  background-color: #FFFFFF;
}

.c-title--contact{
  margin-bottom: 80px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 40px;
  color: #ffffff;
  line-height: 1.5;
  opacity: 1;
}

.c-dispriciton--contact{
  margin-bottom: 80px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.5;
  opacity: 1;
}



/*サイト参考*/


.contact-item {
    text-align: right;
    width: 37%;
    background-color: #FEDA1C;
}

.contact-item,
.contact-body {
    padding: 20px;
    border: 1px solid #1c1f22;
}

.contact-body {
  width: 63%;
}

.contact-body {
  width: 100%;
  padding: 20px;
  text-align: left;
  background-color: rgb(255, 255, 255)
}

input.form-text {
  width: 88.54%;
}

textarea.form-textarea{
  width: 88.54%;
}
