@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/

.p-details{
  margin-right: 18.05vw;
  margin-left: 18.05vw;

  margin-bottom: 112px;

  padding-top: 80px;
  padding-left: 5.55vw;
  padding-right: 5.55vw;
  padding-bottom: 64px;

  background-color: #262424;
  opacity: 0.8;
  box-sizing: border-box;
}

.c-title--details{
  margin-bottom: 80px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 40px;
  color: rgb(255, 255, 255, 1);
  line-height: 1.5;
}

.c-sub-title--details{
  margin-bottom: 24px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 24px;
  color: rgb(255, 255, 255, 1);
  line-height: 1.75;
  opacity: 1;
}

.c-card__details__wrapper{/*カードを横並びに*/
  display: flex;
  justify-content: center;

}



.c-card__details{
  width: 25.03vw;
  min-width: 25%;
  margin-right: 14.28%;
  color: rgb(255, 255, 255, 1);
  text-align: center;
}






.c-information__wrapper{
  width: 100%;
  margin-bottom: 56px;
  opacity: 1;
}

.p-details__information{
  font-weight:normal;
  font-size: 16px;
  font-family: 'Kaisei Tokumin', serif;
  color: rgb(255, 255, 255, 1);
  line-height: 1.75;
}

.c-dli-caret-right {
  display: inline-block;
  vertical-align: middle;
  color: rgb(255, 255, 255, 1);
  line-height: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0.375em 0.64952em;
  border-left-color: currentColor;
  border-right: 0;
}

.c-text-link{
  font-weight:normal;
  font-size: 16px;
  font-family: 'Kaisei Tokumin', serif;
  color: rgb(255, 255, 255, 1);
  text-decoration: none;
}
