@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/

.p-details{
  margin-right: 18.05vw;
  margin-left: 18.05vw;

  margin-bottom: 112px;

  padding-top: 80px;
  padding-left: 5.55vw;
  padding-right: 5.55vw;
  padding-bottom: 104px;

  background-color: rgb(0, 0, 0, 0.8);

  box-sizing: border-box;
}

.c-title--details{
  margin-bottom: 80px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 40px;
  color: rgb(255, 255, 255, 1);
  line-height: 1.5;
}

.c-sub-title--details{
  margin-bottom: 24px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 24px;
  color: rgb(255, 255, 255, 1);
  line-height: 1.75;
  opacity: 1;
}





.c-picture--top--single{/*白い背景の台紙*/
  position: relative;
  z-index: 20;
  width: 63.88%;
  height: 0;
  padding-bottom: 42%;
  background-color: #ffffff;

}


.c-picture--top--single::after{
  display: block;
  position: absolute;
  z-index: 30;

  top:32px;
  margin: auto;
  content: "";
  width: 58.33vw;
  height: 70vh;
  background-color: rgb( 191, 181, 184, 1);
}

.c-product__jpg--1{/*RaiseTech正方形バナー*/
  display: block;
  position:relative;
  z-index: 50;

  width: 57.14%;
  margin: auto;
  margin-top: 67px;
  margin-bottom: 67px;
}


.c-information__wrapper{
  width: 100%;
  margin-bottom: 56px;
  opacity: 1;
}

.p-details__information{
  font-weight:normal;
  font-size: 16px;
  font-family: 'Kaisei Tokumin', serif;
  color: rgb(255, 255, 255, 1);
  line-height: 1.75;
}

.c-dli-caret-right {
  display: inline-block;
  vertical-align: middle;
  color: rgb(255, 255, 255, 1);
  line-height: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0.375em 0.64952em;
  border-left-color: currentColor;
  border-right: 0;
}

.c-text-link{
  font-weight:normal;
  font-size: 16px;
  font-family: 'Kaisei Tokumin', serif;
  color: rgb(255, 255, 255, 1);
  text-decoration: none;
}
