@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/
.p-footer{
  position: relative;
  z-index: 20;
  height: 85px;
  padding-top: 24px;
  padding-bottom: 24px;
  box-sizing: border-box;
}



.p-footer__title{
  margin: auto;
  width: 8.15%;
  border: solid red 1px;
}

.p-footer__title--logo__png{
  width: 100%;
}

@media screen and (max-width:768px) {/*タブレット*/
  .p-footer__title{
    margin: auto;
    width: 15.29%;
  }
}

@media screen and (max-width:768px) {/*SP*/
  .p-footer__title{
    margin: auto;
    width: 31.33%;
  }
}
