
@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/

.p-header{
  position: fixed;
  z-index:40;
  display: flex;
  flex-direction: row;//ロゴとメニューを横並びに
  justify-content: space-between;//両端にはなす
  width: 100%;
  height: 136px;
  padding-top: 40px;
  padding-bottom: 40.4px;
  background-color: #FEDA1C;
  box-sizing: border-box;
}




.p-header__title{
  width: auto;
  height: 55.63px;
  margin-left: 300px;//左端から

}

.p-header__title--logo__png{
  width: auto;
  height: 55.63px;
}

.p-header__menu{
  width: 487.96px;
  margin-top: 5.5px;
  margin-right: 260px;
  border: solid red 1px;
  box-sizing: border-box ;
}

.p-header__menu__list{
  display:  flex;
  justify-content:  center;
  flex-direction:row;
}

.p-header__menu__item{
padding: 11px 32px;
border-right-width: 1px;
border-left: 1px solid #707070;
}

.p-header__menu__item:last-child{
  border-right: 1px solid #000000;
}

.c-item__title{

  list-style: none;
  text-decoration: none;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:normal;
  font-size: 16px;
  color: #000000;
}

.burger-btn{
  display: none;
}

@media screen and (max-width:1280px) {/*タブレット*/

  .p-header__menu{//メニューは隠す
    display: none;
  }

  .p-header{
    position: fixed;
    z-index: 40;
    display: flex;
    flex-direction: row;//ロゴとボタンを横並びに
    justify-content: space-between;//両端にはなす
    width: 100%;
    height: 136px;
    padding-top: 40px;
    padding-bottom: 40.4px;
    overflow: hidden;
    box-sizing: border-box;
  }

  /* 以下、ハンバーガーボタン　spとサイズ同様 */
.burger-btn{
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 30;
  margin-top: 8px;
  margin-right: 13.67% ;
  border:none;
}

.bar{
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255);
}
.bar_top{
  top: 0px;

}
.bar_mid{
  top: 50%;
  transform: translate(-50%,-50%);

}
.bar_bottom{
  bottom: 0px;

}

.p-header__title{
  margin-left: 14.71% ;//左端から
}

}
@media screen and (max-width:768px) {/*タブレット*/


  .p-header__menu{//スマホ版は隠す
   display: none;
  }
  .p-header{
    position: fixed;
    display: flex;
    flex-direction: row;//ロゴとメニューを横並びに
    justify-content: space-between;//両端にはなす
    width: 100%;
    height: 136px;


    overflow: hidden;
    box-sizing: border-box;
  }

  /* 以下、ハンバーガーボタン */
.burger-btn{
  display: block;
  width: 39px;
  height: 39px;
  position: relative;
  z-index: 3;
  border:none;
}
.bar{
  width: 20px;
  height: 1px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(0, 0, 0, 1);
}
.bar_top{
  top: 10px;
}
.bar_mid{
  top: 50%;
  transform: translate(-50%,-50%);
}
.bar_bottom{
  bottom: 10px;
}
}

@media screen and (max-width:375px) {/*スマホ*/
  .p-header{
    position: fixed;
    width: 100%;
    height: 96px;
    padding-top: 21.87%;
    padding-bottom: 23.125%;
    overflow: hidden;
    box-sizing: border-box;
  }

  .p-header__menu{//メニューは隠す
    display: none;
  }

  .p-header__title{
    width: auto;
    height: 51.78px;
    margin-left: 12%;//マージンから40px
  }

  .burger-btn{
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 40;
    margin-top: 8px;
    margin-right: 10.13%;//マージンから40px
    border:none;
  }
   }
