@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/

.p-hero{
  position: relative;
  z-index: 0;
  max-width: 100%;
  height:0;
  padding-top: 2%;
  padding-bottom: 51.45%;

}

.c-picture__wrapper{/*写真のラッパー*/
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.c-picture--top{/*白い枠--電球の写真*/
  position: absolute;
  z-index: 20;
  width: 63.88%;
  height: 0;
  padding-bottom: 42%;
  background-color: #ffffff;

}

.c-light__jpg{/*電球の写真本体*/
  position: relative;
  z-index: 40;
  width: 91.3%;
  margin: 38.5px 4.3%;

}

.c-copy--1{/*わかりやすいデザインをめざしています*/
  position:absolute;
  z-index: 50;
  top:  18%;
  left:  50% ;/*真ん中に配置*/
  transform:  translate(-50%, -50%) ;/*真ん中に配置*/
  -webkit-transform:  translate(-50%, -50%) ;
  -ms-transform:  translate(-50%, -50%) ;
  width:70%;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:bold;
  font-size: 40px;
  line-height: 1.5;
  color: #ffffff;
}

@media screen and (max-width:1200px) {/*タブレット*/

.c-copy--1{/*わかりやすいデザインをめざしています*/
  position: absolute;
  top: 22%;
  width:80%;
  font-weight:bold;
  font-size: 32px;
  line-height: 1.5;
}
}

@media screen and (max-width:375px) {/*タブレット*/

  .p-hero{
    position: relative;
    z-index: 0;
    max-width: 100%;
    height:0;
    padding-bottom: 132.2%;
  }

  .c-copy--1{/*わかりやすいデザインをめざしています*/
    position: absolute;
    top: 22%;
    width:80%;
    font-weight:bold;
    font-size: 32px;
    line-height: 1.5;
  }


.c-picture--top{/*白い枠--電球の写真*/
  position: absolute;
  z-index: 20;
  width: 82.66%;
  height: 0;
  padding-bottom: 67.09%;
  background-color: #ffffff;

}

.c-light__jpg{/*電球の写真本体*/
  position: relative;
  z-index: 40;
  width: 91.3%;
  margin: 38.5px 4.3%;

}
  }
