@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/

.p-hero{

  max-width: 100%;
  height:0;

  padding-top: 200px;/*ヘッダーの高さ136px+余白64px*/
  padding-bottom: 42%;/*上下マージン抜きのheroのアスペクト比*/
  box-sizing: border-box;
}

.c-picture__wrapper{/*写真のラッパー*/
  position:relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  /*margin-topをつけると下の要素が重なる*/
  /*margin-bottomでは下に余白ができない*/

  box-sizing: border-box;
}

.c-picture--top{/*白い枠--電球の写真*/
  position: absolute;
  z-index: 20;
  width: 63.88%;
  height: 0;
  padding-bottom: 42%;
  background-color: #ffffff;

}

.c-light__jpg{/*電球の写真本体*/
  position: absolute;
  width: 91.3%;
  top:  50% ;/*真ん中に配置*/
  left:  50% ;
  transform:  translate(-50%, -50%) ;/*真ん中に配置*/
  -webkit-transform:  translate(-50%, -50%) ;
  -ms-transform:  translate(-50%, -50%) ;

}


.c-copy--1{/*わかりやすいデザインをめざしています*/
  position:absolute;
  z-index: 50;
  top:  18%;
  left:  50% ;/*真ん中に配置*/
  transform:  translate(-50%, -50%) ;/*真ん中に配置*/
  -webkit-transform:  translate(-50%, -50%) ;
  -ms-transform:  translate(-50%, -50%) ;
  width:70%;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:bold;
  font-size: 40px;
  line-height: 1.5;
  color: #ffffff;
}

@media screen and (max-width:1200px) {/*タブレット*/
  .p-hero{
    position: relative;
    z-index: 0;
    max-width: 100%;
    height:0;


  }
  .c-light__jpg{/*電球の写真本体*/
    position: absolute;
    z-index: 40;
    width: 91.3%;

    top:  50% ;/*真ん中に配置*/
    left:  50% ;
    transform:  translate(-50%, -50%) ;/*真ん中に配置*/
    -webkit-transform:  translate(-50%, -50%) ;
    -ms-transform:  translate(-50%, -50%) ;

  }


.c-copy--1{/*わかりやすいデザインをめざしています*/
  position: absolute;
  top: 22%;
  width:90%;
  font-weight:bold;
  font-size: 32px;
  line-height: 1.5;
}
}
@media screen and (max-width:768px) {/*SP*/
  .p-hero{
    position: relative;
    z-index: 30;
    width: 100%;
    height:0;



  }

  .c-picture__wrapper{/*写真のラッパー*/
    position: relative;
    z-index: 30;
    display: flex;
    justify-content: center;
    width: 100%;
    /*margin: 56px auto;*/
    margin: 0px auto;

    box-sizing: border-box;
  }

  .c-light__jpg{/*電球の写真本体*/
    position: absolute;
    z-index: 40;
    width: 91.3%;

    top:  50% ;/*真ん中に配置*/
    left:  50% ;
    transform:  translate(-50%, -50%) ;/*真ん中に配置*/
    -webkit-transform:  translate(-50%, -50%) ;
    -ms-transform:  translate(-50%, -50%) ;
  }

  .c-copy--1{/*わかりやすいデザインをめざしています*/
    position: absolute;
    top:70px;
    width:90%;
    font-weight:bold;
    font-size: 24px;
    line-height: 1.5;
  }




}
@media screen and (max-width:375px) {/*SP*/



  .c-copy--1{/*わかりやすいデザインをめざしています*/
    position: absolute;
    top: 152px;
    width:auto;
    font-weight:bold;
    font-size: 16px;
    line-height: 1.5;
  }

  .c-picture__wrapper{/*写真のラッパー*/
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 154px auto 136px auto ;
    box-sizing: border-box;

  }


.c-picture--top{/*白い枠*/
  position: relative;
  z-index: 30;
  width: 82.66%;/*310px*/
  height: 0;

  padding-bottom: 67.09%;
  background-color: #ffffff;

}

.c-light__jpg{/*電球の写真本体*/
  position: absolute;
  z-index: 40;
  width: 91.61%;/*284px*/
  top:  50% ;/*真ん中に配置*/
  left:  50% ;
  transform:  translate(-50%, -50%) ;/*真ん中に配置*/
  -webkit-transform:  translate(-50%, -50%) ;
  -ms-transform:  translate(-50%, -50%) ;
}

.p-hero__single{
    position: relative;
    width: 100%;
    height:0;
    padding-top: 0px;
    padding-bottom: 0px;
  }



}
