@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/
.video__wrapper{
  width: 100%;
}

.video{/*背景に固定する*/
  position: fixed;
  z-index: -20;
  top:-336px;/*%にしないとレスポンシブで高さがたりなくなる?*/
  width: 136%;
}
.video__filter{
  position: fixed;
  width: 100%;
  z-index: -10;
  top: -136px;/*%にしないとレスポンシブで高さがたりなくなる?*/
  width: 136%;
  height: 136%;
  opacity: 0.5;/*デザインは0.2*/
  background-color: black;

}

@media screen and (max-width:375px) {/*スマホ*/




  .video__wrapper{
    max-width: 100%;
  }

  .video{/*背景に固定する*/
    position: fixed;
    z-index: -20;
    top:-1300px;/*%にしないとレスポンシブで高さがたりなくなる?*/
    right: 0;
    width: 260%;
    height: 260%;
  }

  .video__filter{
    position: fixed;
    width: 400%;
    z-index: -10;
    top: 0px;/*%にしないとレスポンシブで高さがたりなくなる?*/


    height: 336%;
    background-color: black;
    opacity: 0.2;/*デザインは0.2*/
  }

}
