@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/
.p-main{
  width: 100%;
  min-height: 100vh;
}


.video__wrapper{
  position: fixed;
  z-index: -30;
  width: 100%;
  top: 0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}

.video{/*背景に固定する*/
  position: fixed;
  z-index: -30;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*縦横幅指定*/
  width: 130.5530vh;
  height: 76.59vw;
  min-height: 250%;
  min-width: 250%;
}
.video__filter{
  position: fixed;
  width: 100%;
  z-index: -10;
  top: -136px;
  min-height: 200%;
  min-width: 200%;
  opacity: 0.5;/*デザインは0.2*/
  background-color: black;

}

@media screen and (max-width:768px) {/*スマホ*/
  .video{/*背景に固定する*/
    position: fixed;
    z-index: -30;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 199.9999vh;/*ビューポート1024px*/
    height: 75vw;
    min-height: 200%;
    min-width: 200%;
  }
}

@media screen and (max-width:375px) {/*スマホ*/
  .video{/*背景に固定する*/
    position: fixed;
    z-index: -30;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 216.5333vh;/*ビューポート812px*/
    height: 46.1822vw;
    min-height: 200%;
    min-width: 200%;
  }



}
