@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/
.p-product{
  position: relative;
  z-index: 10;
  max-width: 100%;
  margin-right: 80px;
  margin-left: 80px;
  padding-top: 40px;
  padding-bottom: 80px;
  border: solid red 1px;
}

.c-title--product{
  margin-left: 182px;
  margin-bottom: 80px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 40px;
  color: #ffffff;
  line-height: 1.5;
  border: solid red 1px;
}


.p-product__wrapper{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 24px;

  animation-name: fade;
  animation-duration: 1s;
  animation-iteration-count: 5;
}

.c-product{
  width:31.25% ;
  margin-right: 3.125%;
  margin-bottom: 24px;
}

.c-product__pic{
  width: 100%;
}

.c-product:nth-of-type(3n) {//(Xn): X = 右端の列の倍数
  margin-right: 0;
}

@media screen and (max-width:1000px) {/*タブレット*/
  .p-product__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 24px;
  }

  .c-product{
    width:100% ;
    margin-right: 0;
    margin-bottom: 0;
  }

  .c-title--product{
    margin-left: 0px;

  }
}

@media screen and (max-width:375px) {/*タブレット*/
  .p-product__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 24px;
  }

  .p-product{
    width:100% ;
    margin-right: 0;
    margin-bottom: 0;
  }


}
