@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/
.p-product{
  position: relative;
  z-index: 10;
  max-width: 100%;
  margin-right: 80px;
  margin-left: 80px;
  padding-top: 40px;
  padding-bottom: 80px;
  border: solid red 1px;
}

.c-title--product{
  margin-left: 182px;
  margin-bottom: 80px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 40px;
  color: #ffffff;
  line-height: 1.5;
}


.p-product__wrapper{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 24px;
  background-color: aquamarine;
}

.c-product{
  width: 31.25%;
  margin-right: 40px;
  margin-bottom: 24px;
}
.c-product:nth-of-type(3n){
  margin-right: 0 ;
}
