@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/

.p-skill{
  position: relative;
  z-index: 10;
  max-width: 100%;

  margin-right: 228px;
  margin-left: 228px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.c-title--skill{
  margin-left: 3.25%;
  margin-bottom: 80px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 40px;
  color: #000000;
  line-height: 1.5;
}


.p-skill__wrapper{
  display: flex;
	flex-flow: row wrap;
  justify-content: start;
  width: 100%;

  box-sizing: border-box;
  border: solid red 1px;
}


.cardBox {
  position:relative;
  width: 31.7%;
  margin-right: 2.43%;
  margin-bottom: 24px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}


.cardBox img {
	display: block;
	max-width: 55px;
	margin: 0 auto 16px;
}

.cardBox:nth-of-type(3n) {//(Xn): X = 右端の列の倍数
  margin-right: 0;
}




.cardTtl {
	text-align: center;
  font-family: "Josefin Sans" ,ital ;
	font-size: 1.1vw;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 16px;
}


.cardText p {
  font-family: 'Kaisei Tokumin', serif;
  font-size: 1.1vw;
  line-height: 1.75;
  color: #000000;
	margin-bottom: 20px;
}

.cardText {
  border: solid red 1px;
  margin-bottom: 50px;
}



.cardBox {
	position: relative;
	padding: 32px;
	border: 2px solid #333333;
	border-radius: 5px;
	box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}


@media screen and (max-width: 1000px) {
  .p-skill__wrapper{
    display: flex;
    flex-flow:column;
    margin: auto;
    width: 100%;

    border: solid red 1px;
  }
  .cardBox:nth-of-type(3n) {//(Xn): X = 右端の列の倍数
    margin-right: auto;
  }

	.cardBox {
		width: 100%;
		margin-bottom: 50px;
    padding: 24px 40px 24px;
    box-sizing: border-box;
    background-color: azure;
	}
	.cardBox:last-child {
		margin-bottom: 20px;
	}


.cardTtl {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 16px;
}





.cardText {
  margin-bottom: 50px;
}
.cardText {

  margin-bottom: 0px;
}
}
