@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/

.p-skill{
  position: relative;
  z-index: 10;
  max-width: 100%;/*ここにmin-widthすると中心がずれる*/
  margin-right: 15.76%;
  margin-left: 15.76%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.c-title--skill{
  margin-left: 3.25%;
  margin-bottom: 80px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 40px;
  color: #000000;
  line-height: 1.5;
}


.p-skill__wrapper{
  display: flex;
	flex-flow: row wrap;
  justify-content: start;
  width: 100%;/*ここにmin-widthは意味がない*/

  margin: auto;
  box-sizing: border-box;

}


.cardBox {
  position:relative;
  width: 31.7%;/*ここにmin-widthは意味がない*/
  margin-right: 2.43%;
  margin-bottom: 24px;
  background-color: rgb(248, 249, 250, 1);/*#F8F9FA;*/

  box-sizing: border-box;
}


.cardBox img {
	display: block;
	max-width: 5.34vw;
	margin: 0 auto 16px;
}

.cardBox:nth-of-type(3n) {//(Xn): X = 右端の列の倍数
  margin-right: 0;
}




.cardTtl {/*ツール名*/
	text-align: center;
  font-family: "Josefin Sans" ,ital ;
	font-size: 1.1vw;
	font-weight: bold;
	line-height: 1.5;
  color: #000000;
	margin-bottom: 8px;
}
.cardText__title{/*期間と時間*/
  text-align: center;
  font-family: 'Kaisei Tokumin', serif;
  font-size: 1.11vw;
  line-height: 1.5;
  color: #000000;
}
.cardText__title:nth-of-type(2n) {/*期間と時間の下余白*/
  margin-bottom: 16px;
}


.cardText__dis {/*自由内容*/

  font-family: 'Kaisei Tokumin', serif;
  font-size: 1.11vw;
  line-height: 1.75;
  color: #000000;
	margin-bottom: 0;
}

.cardText {/*期間・時間・自由内容の枠*/
  margin: auto 8px ;

}


.cardBox {
	position: relative;
	padding: 32px;/*色付きの枠の幅・縦*/
	box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.cardInner{/*真っ白の部分*/
  display: block;
  background-color: rgb(255, 255, 255,1);
  padding: 8px 0px 8px;
  box-sizing: border-box;
}





@media screen and (max-width: 1200px) {
  /*cardが縦に伸びすぎないように1200pxで調整*/
  .p-skill{
    position: relative;
    margin-right: 6.51%;
    margin-left: 6.51%;

  }


  .p-skill__wrapper{
    display: flex;
    flex-flow:column;
    justify-content:center ;

    width: 72%;

  }





  .c-title--skill{
    margin-left: 0%;
  }

  .cardBox:nth-of-type(3n) {//(Xn): X = 右端の列の倍数
    margin-right: auto;
  }

	.cardBox {
		width: 91.25%;
    margin-right: auto;
    margin-left: auto;
		margin-bottom: 50px;
    padding: 6.89% 8.62% ;
    box-sizing: border-box;

	}

	.cardBox:last-child {
		margin-bottom: 20px;
	}
  .cardText__title__group{



  }


.cardTtl {
	text-align: center;
	font-size: 2.08vw;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 0px;
}
.cardText__title{/*期間と時間*/
  margin-left: 0;

    font-size: 1.11vw;
    line-height: 1.5;
    text-align: center;
  }


.cardText__dis {/*自由内容*/
  width: 96.35%;
  font-family: 'Kaisei Tokumin', serif;
  font-size: 1.11vw;
  line-height: 1.75;
  color: #000000;
  margin: auto;
	margin-bottom: 0;
  padding-right: 8px;
  padding-left: 8px;
  box-sizing: border-box;
}

@media screen and (max-width:768px) {/*タブレット*/
  .c-title--skill{
    line-height: 1.75;
  }
  }
  .cardBox {
		width: 100%;
		margin-bottom: 4 0px;
    padding: 6.89% 8.62% ;
    box-sizing: border-box;


	}



.cardText {
  margin-bottom: 0px;
  font-size: 2.08vw;
}


.cardBox img {
	display: block;
	max-width: 10.02vw;
	margin: 0 auto 8px;
}


.cardTtl {
	text-align: center;
  font-family: "Josefin Sans" ,ital ;
	font-size: 1.1vw;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 8px;
}
.cardText__title:nth-of-type(2n) {/*期間と時間の下余白*/
  margin-bottom: 8px;
}

}
@media screen and (max-width:375px) {/*タブレット*/

  .cardBox {
		width: 100%;
		margin-bottom: 4 0px;
    padding: 10.25% 7.01%  ;
    box-sizing: border-box;

	}
  .cardText__title:nth-of-type(2n) {/*期間と時間の下余白*/
    margin-bottom: 8px;
  }



  }
