@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/
.p-skill{
  position: relative;
  z-index: 10;
  max-width: 100%;

  margin-right: 228px;
  margin-left: 228px;
  padding-top: 80px;
  padding-bottom: 104px;
}

.c-title--skill{
  margin-left: 3.25%;
  margin-bottom: 80px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 40px;
  color: #000000;
  line-height: 1.5;
}


.p-skill__wrapper{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  min-width: 70.73%;

}

.c-skill__card{
  position:relative;
  width: 31.7%;

  height: 460px;


  margin-right: 2.43%;
  margin-bottom: 24px;

  background-color: rgb(255, 255, 255, 1);
  font-family: 'Kaisei Tokumin', serif;
  font-weight:normal;
  font-size: 16px;
  color: rgb(0, 0, 0, 1);
  line-height: 1.75;
  box-sizing: border-box;
}

.c-skill__card:nth-of-type(3n) {//(Xn): X = 右端の列の倍数
  margin-right: 0;
}

.text-area{

  position:relative;

  z-index: 30;
  width: 16.11vw;
  height: 384px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 32px;

}
.c-skill__card__title-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: solid red 1px;
}
.c-skill__card__up{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(99, 20, 139);

}

.c-tool{
  width: 33.18%;
  margin: auto;
  margin-bottom: 8.42%;
}


.c-skill__card__dis{
  font-family: 'Kaisei Tokumin', serif;
  font-weight:normal;
  font-size: 16px;
  color: rgb(0, 0, 0, 1);
  line-height: 1.75;
}

.c-skill__card__title{
  display: block;
  text-align: center;
  font-weight:normal;
  font-size: 24px;
  color: rgb(0, 0, 0, 1);
  line-height: 1.5;
}

.c-skill__card__title.bottom{
  margin-bottom: 16px;
  color: rgb(0, 0, 0, 1);
}
@media screen and (max-width:1200px) {/*タブレット*/
  .p-skill{
    margin-right: 122px;
    margin-left: 122px;
  }

  .p-skill__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    min-width: 82.75%;
    border: solid red 1px;
  }


  .c-skill__card{
    position:relative;
    width: 65.38%;

    height: 360px;
    margin: auto;
    margin-bottom: 24px;

    background-color: rgb(255, 255, 255, 1);
    font-family: 'Kaisei Tokumin', serif;
    font-weight:normal;
    font-size: 16px;
    color: rgb(0, 0, 0, 1);
    line-height: 1.75;
    box-sizing: border-box;
  }
  .text-area{

    width:82.77%;
    height: 290px;

    margin:24px 8.62%;
    padding: 20px;
    background-color: #F8F9FA;


    box-sizing: border-box;
    border: solid red 1px;
  }

  .c-skill__card:nth-of-type(3n) {//(Xn): X = 右端の列の倍数
    margin-right: auto;
  }

  .c-skill__card__up{
    display: flex;
    flex-direction: row;


    background-color: rgb(99, 20, 139);

  }

  .c-tool{
    display: block;
    width: 20.05%;
    margin: auto;
    margin-bottom: 10px;

    line-height: 1.5;
    border: solid rgb(68, 11, 147) 1px;
  }

  .c-skill__card__title-group{
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: solid red 1px;
  }

  .c-skill__card__title{
    display: inline-block;
    text-align: left;

    font-weight:normal;
    font-size: 24px;
    color: rgb(0, 0, 0, 1);

    line-height: 1.5;
  }

  .c-skill__card__bottom{
    text-align: left;

    background-color: aquamarine;
  }


}
