@use '../utility' as var;
/*使用例.button { background-color: var.$colorGR;}*/
.p-skill{
  position: relative;
  z-index: 10;
  max-width: 100%;
  min-width: 920px;/*カードのテキスト部分を潰さない*/
  margin-right: 228px;
  margin-left: 228px;
  padding-top: 80px;
  padding-bottom: 104px;
}

.c-title--skill{
  margin-left: 3.25%;
  margin-bottom: 80px;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:800;
  font-size: 40px;
  color: #000000;
  line-height: 1.5;
}


.p-skill__wrapper{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.c-skill__card{
  position:relative;
  width: 31.70%;
  height: 460px;
  min-height: 83.47%;

  margin-right: 2.43%;
  margin-bottom: 24px;

  background-color: #ffffff;
  font-family: 'Kaisei Tokumin', serif;
  font-weight:normal;
  font-size: 16px;
  color: #000000;
  line-height: 1.75;
  box-sizing: border-box;
}

.c-skill__card:nth-of-type(3n) {//(Xn): X = 右端の列の倍数
  margin-right: 0;
}

.text-area{

  position:relative;

  z-index: 30;
  width: 16.11vw;
  height: 384px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 32px;

  border: solid red 1px;
}

.c-tool{
  width: 33.18%;
  margin: auto;
  margin-bottom: 8.42%;
}
.c-skill__card__dis{
  font-family: 'Kaisei Tokumin', serif;
  font-weight:normal;
  font-size: 16px;
  color: #000000;
  line-height: 1.75;
}

.c-skill__card__title{
  display: block;
  text-align: center;
  font-weight:normal;
  font-size: 1.66vw;
  color: #000000;
  line-height: 1.5;
}

.c-skill__card__title.bottom{
  margin-bottom: 16px;
  color: rgb(0, 0, 0);
}
